
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Make your pay!!.</p>
</div>
<br />

<div class="row col-10">

    <div class="col-4 bg-primary text-white border rounded" >
        <h5 id="titlePayment"></h5>
        <img src="~/images/pay.jpg" class="rounded"/>
    </div>
    <div class="col-8 border-top border-bottom border-right rounded">
        <br />

        <div class="form-group">
            <label class="control-label">Payment Date</label>
            <div class="col-lg-9">
                <input type="datetime-local" class="form-control" id="paymentdate"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Total</label>
            <div class="col-lg-9">
                <input type="number" class="form-control" id="amount"/>
            </div>
        </div>

        <div class="form-group">
            <label>Payment Type:</label><br />
            <input class="form-check-input" type="radio" name="paymentType" id="cash" value="Cash" checked, required="required" style="margin-left:10px;">
            <label class="form-check-label" for="gridRadios1" style="margin-left:30px;">
                Cash
            </label>
            <br />

            <input class="form-check-input" type="radio" name="paymentType" id="feepayment" value="Fee payment" checked, required="required" style="margin-left:10px;">
            <label class="form-check-label" for="gridRadios1" style="margin-left:30px;">
                Fee payment
            </label>
        </div>

        <button class="btn btn-success" id="btnPay">Pay</button><br />

    </div>
</div><br /><br />

<div id="feePayment">
    <table class="table" id="tableQuota">
        <tr>
            <th>Quota Date</th><th>Amount</th><th>Rest</th><th>Total</th>
        </tr>
    </table>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="quotaModal" role="dialog" style="width:60%">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-success text-white" style="padding:35px 50px;" id="modalTitle">

                    <button type="button" class="close" data-dismiss="modal" style="text-align:right">[X]</button>
                    <h5 class="modal-title" id="modalTitle"></h5>

                </div>
                <div class="modal-body" style="padding:40px 50px;">

                    <div class="form-group">
                        <label class="control-label">Quota Date</label>
                        <div class="col-lg-9">
                            <input type="datetime-local" class="form-control" id="quotadate" />
                        </div>
                    </div>

                    <div class="form-group col-lg-3" id="divtotal">
                        <label class="control-label">Total</label>
                        <div>
                            <input type="number" class="form-control" id="total" />
                        </div>
                    </div>

                    <div class="form-group col-lg-3" id="divamaunt">
                        <label class="control-label">Amount</label>
                        <div>
                            <input type="number" class="form-control" id="amount" />
                        </div>
                    </div>

                    <div class="form-group col-lg-3" id="divrest">
                        <label class="control-label">Rest</label>
                        <div>
                            <input type="number" class="form-control" id="rest" disabled/>
                        </div>
                    </div>

                    <br /><button type="button" class="btn btn-primary" data-dismiss="modal" style="text-align:right" id="modalbtnSave">Save</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var consultId;
        var payId;
        var existingPay = false;
        var payTitle;
        var statusPay;

        $(document).ready(function () {
            var dirUrl = $(location).attr('search').split("=");
            consultId = parseInt(dirUrl[1]);
            alert(consultId);

            //Realizamos un ajax para obtener los datos de la consulta cuyo id viene en la url. Despues extraemos dichos datos para generar el rotulo del pago.
            $.ajax({
                url: "@Url.Action("Index", "Consult")",
                data: { consultId },
                type: "Post"
                }).done(function (result) {
                    // si el resultado de la consulta tiene registro se genera la lista
                    if (result != "") {
                        //alert(result[0]["petName"]);
                        payTitle = "Vet-" + result[0]["petName"] + "-" + consultId + "-" + result[0]["ownerName"];
                        $("#titlePayment").text(payTitle);

                    }
                    else {
                        alert("Error. Fail");

                    }

                });

            //Verificamos si la consulta tiene registro de pagos.
            fnverifyPay();

        });

        $("#feepayment").click(function () {
            $("#quotaModal").modal({ backdrop: false });
            $("#modalTitle").text(payTitle);
        });

        $("#btnPay").click(function () {
            //alert();
            if ($("input:radio[name=paymentType]:checked").val() == "Fee payment") {
                statusPay = "Pending";

                //Sino existe es porque es un pago nuevo que se hara la primera cuota
                if (!existingPay) {
                    fnPay();
                    fnQuota();
                }
                else {
                    fnQuota();
                }
            }

            if ($("input:radio[name=paymentType]:checked").val() == "Cash") {
                statusPay = "Payed";
                fnPay();
            }

        });

        $("#modalbtnSave").click(function () {
            fngetdataQuota()
            alert();
        });

        function fnverifyPay() {
            $.ajax({
                url: "@Url.Action("Index", "Pay")",
                data: { consultId },
                type: "Post"
                }).done(function (result) {
                    //
                    if (result != "") {
                        //alert(result[0]["petName"]);
                        payId = result["payId"];
                        existingPay = true;
                        //alert(payId);
                        $("#paymentdate").val() = result["paymentDate"];
                        $("#amount").val() = result["amount"];
                        $("#cash").attr("checked", true);

                        if (result["status"] == "Pending") {
                            $("#feepayment").attr("checked", true);

                        }
                        else {
                            $("#btnPay").text("Payed");
                            $("#btnPay").attr("disabled", true);
                        }

                    }
                    else {
                        //Si no hay registro es porque es un pago nuevo.
                        statusPay = "Pending";

                    }

                });
        }

        function fnPay() {
            $.ajax({
                url: "@Url.Action("Add", "Pay")",
                data: fngetdataPay(),
                type: "Post"
                }).done(function (result) {
                    // si el resultado de la consulta tiene registro se genera la lista
                    if (result != "") {
                        alert(result);
                        payId = result["payId"];
                        //return result;
                    }
                    else {
                        //return result;
                    }

                });
        }

        function fnQuota()
        {
            $.ajax({
                url: "@Url.Action("Add", "Quota")",
                data: fngetdataQuota(),
                type: "Post"
                }).done(function (result) {
                    // si el resultado de la consulta tiene registro se genera la lista
                    if (result != "") {
                        alert(result);
                        
                        //return result;
                    }
                    else {
                        //return result;
                    }

                });
        }

        function fngetdataPay() {
            data = {
                ConsultId: consultId,
                PaymentDate: $("#paymentdate").val(),
                PaymentAmount: $("#amount").val(),
                PaymentType: $("input:radio[name=paymentType]:checked").val(),
                Status: statusPay //Cuando el cliente cancele la cantidad total a pagar, el atributo se cambiara a Payed
            }

            //alert(data["PaymentType"] + " <> " + data["Status"]);
            return data;
        }

        function fngetdataQuota() {
            data = {
                PayId: payId,
                QuotaDate: $("#quotadate").val(),
                Total: $("#total").val(),
                PaymentAmount: $("#paymentamount").val(),
                Rest: $("#rest").val()
            }
            //alert(data["Total"] + " <> " + data["QuotaDate"]);
            return data;
        }


    </script>
}
